<ion-header-bar align-title="center">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="voltar()" ng-show="mostrarVoltar()"></button> 
  <h1 class="title">{{obterNomeTela()}}</h1>
  <button class="button button-icon icon ion-ios-help-empty" ng-click="abrirAjuda()" ng-show="mostrarAjuda()"></button>
</ion-header-bar>
<ion-tabs class="tabs-positive tabs-icon-bottom tabs-bottom">

  <ion-tab title="Alertas" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" href="#/logado/alerta">
    <ion-nav-view name="logado-alerta"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Produtos" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="#/logado/produto">
    <ion-nav-view name="logado-produto"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cadastrar" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ng-click="abrirCadastroProduto()">
    <ion-nav-view name="logado-camera"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Perfil" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/logado/perfil">
    <ion-nav-view name="logado-perfil"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Relatório" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" href="#/logado/relatorio">
    <ion-nav-view name="logado-relatorio"></ion-nav-view>
  </ion-tab>

</ion-tabs> 