<ion-view title="Cadastrar">
  <ion-content class="padding">
   
    <form id="formProduto" ng-init="tirarFoto()">
      <img id="imagem" src="../img/placeholder.png" height="300" width="300" ng-required="true" ng-model="data.imagem" >
      
      <button class="button button-block button-positive" ng-click="tirarFoto()">Capturar Imagem</button>
      
      <label class="item item-input item-floating-label">
          <span class="input-label positive">Data de vencimento</span>
          <input type="date" ng-required="true" ng-model="data.data_vencimento"/>
      </label>
      
      <label class="item item-input item-select select-campo">
          <span class="input-label positive">Estabelecimento</span>
          <select ng-options="estabelecimento.id as estabelecimento.nome for estabelecimento in estabelecimentos" 
              ng-model="data.estabelecimento" placeholder="Estabelecimento">
          </select>
      </label>
      
      <label class="item item-input item-select select-campo" ng-if="apresentaCampoCategoria()">
          <span class="input-label positive">Categoria</span>
          <select ng-options="categoria for categoria in categorias" ng-model="data.categoria" placeholder="Categoria">
          </select>
      </label>
      
      <label class="item item-input item-floating-label" ng-if="apresentaCampoCodigoBarras()">
          <span class="input-label positive">Código de Barras</span>
          <input type="text" ng-model="data.codigo_de_barras" placeholder="Código de Barras"/>
      </label>
      
      <label class="item item-input item-floating-label" ng-if="apresentaCampoQuantidade()">
          <span class="input-label positive">Quantidade</span>
          <input type="number" ng-model="data.quantidade" placeholder="Quantidade"/>
      </label>
      
      <label class="item item-input item-floating-label" ng-if="apresentaCampoValor()">
          <span class="input-label positive">Valor</span>
          <input type="number" ng-model="data.valor" placeholder="Valor"/>
      </label>
    </form>
    <button class="button button-block button-positive" ng-click="salvar(formProduto)">Salvar</button>
  </ion-content>
</ion-view>