<ion-header-bar align-title="center" class="bar-positive">
  <button class="button button-icon icon ion-ios-arrow-left" ng-click="voltar()" ng-show="mostrarVoltar()"></button> 
  <h1 class="title">WARNINGBOX</h1>
  <button class="button button-icon icon ion-ios-help-empty" ng-click="abrirAjuda()" ng-show="mostrarAjuda()"></button>
</ion-header-bar>
<ion-nav-view></ion-nav-view>
<ion-footer-bar align-title="center" class="bar-positive">
  <h1 class="title">WARNINGBOX.COM.BR</h1>
</ion-footer-bar>